.popup-container{
    position: relative;
    width: 200px;
    height: 140px;
    padding: 1em;
    padding-top: 0em;
    font-size: 1.2em;
}
.popup-body{
    text-align: left;
    padding: 0.5em;
    padding-top: 0em;
}
.share-button{
    position: absolute;
    bottom: 5px;
    right: 7px;
}
.off{
    color: rgba(255, 0, 0, 0.9);
}
.on{
    color: rgba(0, 255, 0, 0.9);
}
.data-item{
    margin: 0.2em;
}